@mixin mobile {
  @media screen and {
    max-width: 480px
  }

  @content;

}

@media only screen and (max-width:768px) {

  .navbar .logo {
    display: none;
  }

  .home .container {
    width: 90%;
  }

  .navbar .user button {
    position: absolute;
    bottom: 10px;
  }
  .sidebar{
    position: relative;
  }

}


@mixin laptop {
  @media screen and {
    max-width: 1200px
  }

  @content;

}



* {
  font-family: 'Nunito', sans-serif;
}

.logo {
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: 700;

}

.tittle {
  width: 100%;
  text-align: center;
  padding: 10px 0px 20px 0px;
  font-size: 22px;
  color: white;
  text-decoration: underline;
}

/* code by Aditya */
.formContainer {
  background-color: rgb(0, 0, 0);
  color: #00ff00;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrap {
  border: 2px solid #00ff00;
  padding: 40px;
  border-radius: 30px;
}

.formWrap form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #00cc00;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

#file-input {
  display: none;
  margin-top: 5px;
}

.uploadText {
  padding-left: 7px;
}

.formBtn {
  background-color: #00cc00;
  color: white;
  border: none;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.formText {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

/* Registration end  here */
.home {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  border: 1px solid #ffffff;
  width: 70%;
  height: 80%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;

}

.sidebar {
  flex: 1;

  border-right: 2px solid white;
  background-color: rgb(29, 29, 29);
}

.chat {
  flex: 2;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(79, 240, 159);
  padding: 10px;
  justify-content: space-between;

}

.navbar .logo {
  font-size: 30px;
}

.user {
  display: flex;
  gap: 10px;
}

.user img {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.user button {
  background-color: brown;
  color: white;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.search {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.searchForm input {
  background-color: rgb(10, 0, 0);
  width: 98%;
  padding: 2px;
  color: white;
}

.searchForm ::placeholder {
  color: #ffffff8c;
  font-size: 15px;
}

.searchForm :placeholder {
  color: #00cc00;
}

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.userChat:hover {
  background-color: rgb(70, 70, 70);
}

.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 60%;
  object-fit: cover;

}

.userChatInfo span {
  font-size: 18px;
  font-weight: 500;
}

.userChatInfo p {
  font-size: 14px;
  color: lightyellow
}

.chatInfo {
  height: 61px;
  background-color: rgb(87, 192, 233);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.chatIcon {
  display: flex;
  gap: 12px;
  align-items: center;
}

.messages {
  background-color: #383838;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
  overflow-x: hidden;

}

.input {
  background-color: rgb(255, 255, 255);
  height: 50px;
  padding: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  color: rgb(0, 5, 5);
  font-size: 18px;

}

.input input::placeholder {
  color: #00000069;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.send i {
  height: 24px;
  cursor: pointer;

}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

}

.messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;

}

.messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageContent p {
  background-color: #ffffff;
  padding: 10px 20px;
  color: #383838;
  border-radius: 0px 12px 12px 12px;
}

.messageContent img {
  width: 50%;

}

& .owner {
  flex-direction: row-reverse;
}

& .owner .messageContent {
  align-items: flex-end;
}

& .owner p {
  background-color: rgb(221, 73, 73);
  color: white;
  border-radius: 10px 0px 10px 10px;
  max-width: max-content;
}